.content-wrap{
    height: 100%;
    float: left;
}

#controlRow,
.tab-header{
    height: 24px;
}

#tab-channels-header > p{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#mainContent-wrap{
    width: calc(100% - 25px - 5px);
    margin-left: 5px;
    background-color: white;
}

form{
    display: inline;
}

select#display{
    height: 24px;
}

#controlRow{
    width: max-content;
    margin: 0 auto;
    padding-top: 15px;
}

#chart{
    height: calc(100% - 24px - 25px);
}

.tab{
    display: none;
    width: 295px;
    margin-left: 5px;

    background-color: rgb(77, 77, 77);
}
.tab *{
    color: rgb(192, 192, 192);
}

option{
    padding-left: 5px;
}

#tab-channels-list{
    height: 100%;
    width: 100%;
    border: none;

    background-color: inherit;
}

#tab-channels-list:focus{
    border: none;
}

.tab-header > p{
    float: left;
}

.icon-close-window{
    float: right;
}

#side-bar{
    width: 25px;
    height: 100%;
    float: left;
    background-color: rgb(87, 87, 87);
}

.shortcut{
    width: inherit;
    padding: 5px 0;
    display:  table;

    writing-mode: vertical-rl;
}

.shortcut > p{
    display: table-cell;
    vertical-align: middle;

    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.shortcut:hover{
    background-color: rgb(100, 100, 100);
}